In [1]:
x=10.78
type(x)

float

In [6]:
Y=False
type(Y)

bool

In [7]:
Y=false
type(Y)

NameError: name 'false' is not defined

In [11]:
x=10
y=2
x/y

5.0

### Implicit conversion

In [20]:
x=10.5
y="ds"
x+int(y)

ValueError: invalid literal for int() with base 10: 'ds'

In [14]:
x=10.5
y="ds"
x+y

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [15]:
x="ds"
y="da"
x+y

'dsda'

In [16]:
x=10.5

In [21]:
x=10
flot(x)

NameError: name 'flot' is not defined

In [22]:
x=10
str(x)

'10'

In [23]:
x=20.909009090
str(x)

'20.90900909'

In [24]:
x="hi"
flot(x)

NameError: name 'flot' is not defined